body {
  background-color: #e2e7eb;
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(15px);
}
.slide-up-enter-active {
  opacity: 1;
  transform: translateY(0px);
}
.slide-up-exit {
  opacity: 1;
}
.slide-up-exit-active {
  opacity: 0;
  transform: translateY(-15px);
}

.slide-up-enter-active,
.slide-up-exit-active {
  transition: all 0.1s ease-in-out;
}
